.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./bgtest1.png');
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.generateButton {
  width: 282px;
height: 96px;
flex-shrink: 0;

border-radius: 30px;
background: linear-gradient(101deg, #FFF -30.82%, #A783B5 40.42%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.moodButtons{
  display: inline-block;
  text-align: center;
}


/* .imageTest {
  width: 242px;
height: 271px;
background: url(<./Kuromi.png>), lightgray 50% / cover no-repeat;
} */

.image123 {
  background-image: url('./Kuromi.png');
  width: 20%;
  height: 20%;
}

.backgroundImage {
  background-image: url('./bgtest1.png');
  width: 20%;
  height: 20%;
}

